@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --first-color: #ffcdd2;
    --second-color: #fd7d96;
    --alt-color: #ee534f;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: var(--first-color);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
}

.newtask {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--alt-color);
    border-radius: 10px;
    padding: 2rem;
    gap: 1rem;
}

#newtask input {
    width: 75%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
  }